services:
  backend:
    build: ./backend
    container_name: docquery-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      AWS_REGION: ${AWS_REGION}
      S3_BUCKET: ${S3_BUCKET}
      DDB_TABLE: ${DDB_TABLE}
      GEMINI_MODEL: ${GEMINI_MODEL:-gemini-2.0-flash}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
    depends_on: []
  frontend:
    build: ./frontend
    container_name: docquery-frontend
    ports:
      - "8501:8501"
    env_file:
      - .env
    environment:
      BACKEND_URL: ${BACKEND_URL:-http://backend:8000}
    depends_on:
      - backend
